<div id="MainWrap" ng-controller="WeatherAppFavoritesController">
    
    <div class="CityWeatherContainerFav ng-cloak">

      <div class="NoFavorites">
        <div class="NoFavoritesText">
          There are no Favorites selected
        </div>
      </div>

      <div ng-repeat="d in FavoritesArray" class="CityWeatherTabDayTabFav" ng-click="Navigate(d.Name,d.Key)">

        <div class="Container" ng-show="UnitType">
          <div style="font-weight:bold;font-size:20px;"> {{d.Name}} </div>
          <div> {{ d.WeatherText }} </div>
          <div class="WeatherImageFav" back-img="https://developer.accuweather.com/sites/default/files/{{d.WeatherIcon}}-s.png"></div>
          <div class="Temperature"> {{d.Temperature.Imperial.Value}} ° F </div>
        </div>

        <div class="Container" ng-show="!UnitType">
          <div style="font-weight:bold;font-size:20px;"> {{d.Name}} </div>
          <div> {{ d.WeatherText }} </div>
          <div class="WeatherImageFav" back-img="https://developer.accuweather.com/sites/default/files/{{d.WeatherIcon}}-s.png"></div>
          <div class="Temperature"> {{ d.Temperature.Metric.Value }} ° C </div>
        </div>

      </div>


    </div>

</div>
