<!DOCTYPE html>
<html lang="en" dir="ltr" class="theme-dark">
  <head>
    <meta charset="utf-8">
    <title> Weather App </title>

    <script src="https://github.com/DanielZagorsky/HeroloWeather/blob/master/jquery.min.js"></script>
    <script src="https://github.com/DanielZagorsky/HeroloWeather/blob/master/jquery-ui.js"></script>
    <script src="https://github.com/DanielZagorsky/HeroloWeather/blob/master/angular.min.js"></script>
    <script src="https://github.com/DanielZagorsky/HeroloWeather/blob/master/ngGeolocation.js"></script>
    <script src="https://github.com/DanielZagorsky/HeroloWeather/blob/master/angular-ui-router.min.js"></script>
    <script src="https://github.com/DanielZagorsky/HeroloWeather/blob/master/Theme.js"></script>
    <script src="https://github.com/DanielZagorsky/HeroloWeather/blob/master/Unit.js"></script>
    <script src="https://github.com/DanielZagorsky/HeroloWeather/blob/master/Favorites.js"></script>
    <script src="https://github.com/DanielZagorsky/HeroloWeather/blob/master/Main.js"></script>

    <!--<link rel="stylesheet" href="https://github.com/DanielZagorsky/HeroloWeather/edit/master/Bootstrap.min.css">-->
    <link rel="stylesheet" href="https://github.com/DanielZagorsky/HeroloWeather/blob/master/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://github.com/DanielZagorsky/HeroloWeather/blob/master/Theme.css">
    <link rel="stylesheet" href="https://github.com/DanielZagorsky/HeroloWeather/blob/master/SideNav.css">
    <link rel="stylesheet" href="https://github.com/DanielZagorsky/HeroloWeather/blob/master/Main.css">


  </head>

 <body id="MainWrap" ng-app="WeatherApp" ng-controller="WeatherAppController">

  <div id="buttonsidenav" class="buttonsidenav">
    <div class="SideNavButton" onclick="toggleNav()"> <a href="#" style="padding:0px;color:white!important;text-decoration:none;font-weight:bold;"> Settings </a></div>
  </div>

  <div id="mySidenav" class="sidenav">
    <!--<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->

        <a href="#">
          Theme
          <label class="switch">
            <input style="cursor:pointer;" type="checkbox" onclick="toggleTheme()">
            <span class="slider round"></span>
          </label>
        </a>

        <a href="#">
          Unit Type
          <label class="switch">
            <input style="cursor:pointer;" type="checkbox" ng-click="UnitTypeChange()">
            <span class="slider round"></span>
          </label>
        </a>

  </div>

  <div class="LoaderBG">
    <div class="LoaderBGIneer">
      <img src="LoadingGif.gif" class="LoaderGif"/>
   </div>
  </div>

  <!-- Header -->
  <div class="Header  "> <!--shadow-->

     <div class="HeaderLeft">
       <div><img src="https://github.com/DanielZagorsky/HeroloWeather/blob/master/herolo-logo.jpg" class="HeaderImg" onclick="window.location='https://herolo.co.il/';"/></div>
       <div><img src="https://github.com/DanielZagorsky/HeroloWeather/blob/master/accuWeather.png" class="HeaderImg" onclick="window.location='https://www.accuweather.com/';"/></div>
       <div class="HeadetText">
         Herolo Weather Task Homepage
      </div>
    </div>

    <div class="ui-widget">
     <div class="SearchText"> City </div>
     <input id="tags" class="form-control">
   </div>


     <div class="NavMenu">
       <nav class="navbar navbar-light bg-light">
         <form class="form-inline">
           <button class="btn btn-outline-success" type="button" style="border-color:black;" ng-style="{ 'background-color' : (PageName === 'index' ) ? '#7837AD' : 'white' }"><a ng-style="{ 'color' : (PageName === 'index' ) ? 'white' : '' }" class="NavLinks" ui-sref="Weather"> Weather </a></button>
           <button class="btn btn-outline-success" type="button" style="border-color:black;" ng-style="{ 'background-color' : (PageName === 'favorites' ) ? '#7837AD' : 'white' }"><a ng-style="{ 'color' : (PageName === 'favorites' ) ? 'white' : '' }" class="NavLinks" ui-sref="Favorites"> Favorites </a></button>
         </form>
       </nav>
     </div>

  </div>




  <div class="body">


    <!-- Modal -->
    <div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"> {{Modaltitle}} </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{ModalBody}}
          </div>
          <!--
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
          -->
        </div>
      </div>
    </div>


    <div class="CityWeatherContainer">
      <div class="CityWeatherTab ng-cloak">


         <div class="CityWeatherTabHeader">


              <div style="font-size:20px;font-weight:bold;float:left;">
               <div class="WeatherImage" back-img="https://developer.accuweather.com/sites/default/files/{{CurrentCityConditions.WeatherIcon}}-s.png"></div>
               {{CurrentCityName}}
               <span ng-show="UnitType">  {{CurrentCityConditions.Temperature.Imperial.Value}} ° {{CurrentCityConditions.Temperature.Imperial.Unit}} </span>
               <span ng-show="!UnitType"> {{CurrentCityConditions.Temperature.Metric.Value}} ° {{CurrentCityConditions.Temperature. Metric.Unit}} </span>
              </div>


               <div class="FavoritesContainer" style="float:right;">
                 Add/Remove Favorites
                  <div class="FavDiv" back-img="{{FavIcon}}" ng-Click="AddToFavorites()"></div>
               </div>


         </div>


      <div class="CityWeatherTabTitle ng-cloak">
          <div style="font-weight:bold;font-size:34px;"> {{CurrentCityConditions.WeatherText}} </div>
          <!--<div>  {{CurrentCityData.Headline.Text}} </div>
          <div>   Severity level : {{CurrentCityData.Headline.Severity}} </div>-->
      </div>


        <div class="CityWeatherTabBody">

          <div ng-repeat="d in CurrentCityData.DailyForecasts" class="CityWeatherTabDayTab">

            <div class="Container" ng-show="UnitType">
              <div style="font-weight:bold;font-size:20px;"> {{d.Date | date:'EEEE'}} </div>
              <div> {{ (d.Day.IconPhrase).replace('w/', '') }}  -  {{d.Day.Icon}} </div>
              <div class="WeatherImage" back-img="https://developer.accuweather.com/sites/default/files/{{d.Day.Icon}}-s.png"></div>
              <div class="Temperature"> {{d.Temperature.Minimum.Value}} - {{d.Temperature.Maximum.Value}}  ° F </div>
            </div>

            <div class="Container" ng-show="!UnitType">
              <div style="font-weight:bold;font-size:20px;"> {{d.Date | date:'EEEE'}} </div>
              <div> {{ (d.Day.IconPhrase).replace('w/', '') }}  </div>
              <div class="WeatherImage" back-img="https://developer.accuweather.com/sites/default/files/{{d.Day.Icon}}-s.png"></div>
              <div class="Temperature"> {{ (5/9) * (d.Temperature.Minimum.Value-32) | Round  }} - {{ (5/9) * (d.Temperature.Maximum.Value -32) | Round }}  ° C </div>
            </div>

          </div>

        </div>




      </div>
    </div>
  </div>

  <!-- Footer -->
 <div class="footer">
   <p> All right reserved to <a href="https://il.linkedin.com/in/daniel-zagorsky-profile">Daniel Zagorsky </a></p>
 </div>


 </body>
</html>
